html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.tableModules {
  position: relative;
  width: 100%;
}

.searchForm {
  position: relative;
  width: 100%;
}

.paginationList {
  position: relative;
  width: 100%;
}

.table {
  width: 100%;
  position: relative;
}

ul li a {
  cursor: pointer;
}

.sorting {
  cursor: pointer;
}

.sorting .flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.sorting span {
  display: inline-block;
}

.sorting .icon {
  font-size: 8px;
  color: #dfdfdf;
  width: 4px;
}

.tdName {
  width: 300px;
}

.tdPosition {
  width: 380px;
}

.tdOffice {
  width: 185px;
}

.tdAge {
  text-align: right;
  width: 70px;
}

.tdStartDate {
  width: 120px;
}

.tdSalary {
  width: 100px;
}

.paginationList > li > a,
.paginationList > li > span {
  background: none;
  margin: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0);
}
